<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <h1>Hello <%=title%>!</h1>
    <p>Courses: <%=courses%></p>
    <ul>
        <% for(var i=0; i<courses.length; i++) {%>
          <li><%= courses[i] %></li>
        <% } %>
      </ul>
    <a href="add.ejs"><h2>Add a course: </h2></a>
    <form action="/user" method="post">
        <label for="courseName">Course name:</label>
        <input type="text" id="courseName" name="courseName">
        <button type="submit">Submit</button>
    </form>
    <h2>Delete a course: </h2>
    <p id="test">O</p>
    <!--<form action="/user" method="post">
        <label for="courseNameDelete">Course name:</label>
        <input type="text" id="courseNameDelete" name="courseNameDelete">
        <button type="submit">Submit</button>
    </form>
-->

    <script src="van_js.js"></script>
</body>
</html>